/* reset */
/* Dev by Vitor Henrique */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* transformando o body em um class */
.container-master{
    width: 100vw;
    height: 100vh;
    background-color: var(--master);
}

/* header */
.header{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 10%;
}
/* estilizando background do fundo da logo */
.bg-header{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 20px;
}

.background-header{
    width: 100%;
    height: 200px;
}
/* estilizando as logos */
.bg-cursos{
    position: absolute; 
    margin-left: 50px;
    width: auto; 
    height: 150px;
}
/* estilizando a logo da oferta */
.offer{
    z-index: 1;
    position: absolute;
    left: 30%;
    bottom: -50%;
}

.logo-offer{
    position: absolute;
    bottom: -100px;
    display: block;
    width: auto;
    height: 240px;
    opacity: 90%;
}

/* estilizando main */

.main{
    position: relative;
    width: 100%;
    height: 60%;
}

    /* criando e estilizando o botão de sandwich*/
.button-sandwich{
    top: 100px;
    position: absolute;
    left: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
        /* separando as linhas */
    gap: 5px;
    border: 1px solid var(--branco);
    border-radius: 5px;
}

.string-1, .string-2, .string-3{
    background-color: var(--button);
    width: 25px;
    height: 3px;
    border-radius: 10px;
}

    /* fim do sandwich */

    /* começo setas */
.arrow-right{
    position: absolute;
    left: 85%;
    bottom: 25%;
}

.arrow-left{
    position: absolute;
    right: 85%;
    bottom: 25%;
}

.right, .left{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
    /* invertendo o lado da seta */
.left{
    transform: scaleX(-1);
}

.button-right, .button-left{
    background: none;
    border-style: none;
}
    /* fim setas */
    /* estilizando o background */

.carrosel-background{
    width: 100%;
    height: 149.25%;
}

.background{
    z-index: -1;
    width: 100%;
    height: 100%;
}

    /* fim background */
    /* começo botão de comprar */
.footer{
    position: relative;
    width: 100%;
    height: 20%;
}

.container-buy{
    position: absolute;
    top: 100px;
    left: 700px;
    z-index: 1;
    width: 100px;
    height: 50px;
}

.button-buy{
    width: 200px;
    height: 60px;
    font-size: large;
    background-color: var(--button-buy);
    border-style: none;
    cursor: pointer;
}